
<main class="container">
 
  <!-- Left Column / Headphones Image -->
  <div class="left-column" >

    <img  class="active" [src]="data['image']" width="200" height="500" alt="">
  </div>
 
 
  <!-- Right Column -->
  <div class="right-column">
 
    <!-- Product Description -->
    <div class="product-description">
      <span>{{data['category']}}</span>
      <h1>{{data['title']}}</h1>
      <p>{{data['description']}}</p>
    </div>
 
    <!-- Product Configuration -->
    <div class="product-configuration">
 
      <!-- Product Color -->
      <div class="product-color">
        <a href="#">How to configurate your headphones</a>
      </div>
    </div>
 
    <!-- Product Pricing -->
    <div class="product-price">
      <span>{{data['price']}} EGP</span>
      <a href="#" class="cart-btn">Add to cart</a>
    </div>
  </div>
  

</main>

<br><br><br> <br><br><br><br><br>