<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEAM PAGE</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
  </head>
  <body class="dark">

    <!-- main part  -->
    <h1 class="totalprice">your total price is: <span class="price">{{total}} EGP</span></h1>
    <a routerLink="/checkout"><button class="checkout">checkout</button></a>
    <section id="main">
      <div class="container">
        <div class="card board" *ngFor='let product of data;index as i'>
          <div class="imgBx">
            <img
              [src]='data[i]["image"]'
              alt=""
            />
          </div>
          <div class="content">
            <div class="contentBx">
              <button class="remove" (click)="updateCard(data[i]['id'])">remove</button>
            </div>
            <ul class="sci">
              <li style="--i: 1">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </li>
              <li style="--i: 2">
                <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
              </li>
              <li style="--i: 3">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
        
               
      </div>
    </section>
    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        $("input").click(function () {
          document.body.classList.toggle("dark");
        });
        $(".list").click(function () {
          const value = $(this).attr("data-filter");
          if (value == "all") {
            $(".card").fadeIn(400);
            $("li.list.active").removeClass("active");
            $(this).addClass("active");
          } else {
            $("li.list.active").removeClass("active");
            $(this).addClass("active");
            $(".card")
              .not("." + value)
              .fadeOut(400);
            $(".card")
              .filter("." + value)
              .fadeIn(400);
          }
        });
      });
    </script>
  </body>
</html>
